
body {
    height: 100vh;
}

.ironhack {
    padding-left: 30px;
    padding-top: 30px;
    text-align: left;
}

.background {
    background-image: url("../images/fondoAzul.png");
    background-size: cover;
    text-align: center;
    height: 100%;
}
 .heading {
     display: flex;
     justify-content:center;
 }

.images {
    margin-top: 80px;
}

 .box {
     margin-left: 10px;
 }

.triangle {
   padding-left: 25px;
}


.btn-lg {

    margin-top: 150px !important;
}

.click  {
    font-size: 30px!important;
    height: 200px;
    width: 400px; 
    border: 0px;
    border-radius: 50px !important;
    background-color:rgb(46, 218, 31) !important;
    color: white;
}










